
#box
{
  background: white;
  border: 4px solid lightgray;
  width: 600px;
  padding: 20px;
  margin: auto;
}
#link_box
{
  background: lightgray;
  border: 4px solid lightgray;
  height: 40px;
  width: 620px;
  padding-left: 20px;
  margin: auto;
}
#title_box
{
  background: lightgray;
  width: 400px;
  margin: auto;
}
