---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
    background-color: antiquewhite;
}

.page-wrapper {
    background-color: white;
    margin: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 14px;
}

.site-header {
    border-top: 4px solid lightgray;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.site-title {
    letter-spacing: normal;
}

.post-title {
    color: brown;
    font-size: 1.7em;
}

.post-header ul {
    margin: 0
}

.post-header ul>li {
    width: 200px;
    list-style: none;
}

.post-footer ul {
    margin: 0
}

.post-footer ul>li {
    width: 200px;
    list-style: none;
}

hr {
    margin: 30%;
    margin-top: 7%;
    margin-bottom: 7%;
    color: lightgray;
}
